/*
	@name custom___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative; width: 800px; height: 1400px; margin-left: auto; margin-right: auto;  }

#_bg__custom___1 {
	top: 0px;
	left: 0px;
	width: 800px;
	height: 1400px;
	background:rgba(156,199,228,255);
}


#rectangle_1 {
	top: 0px;
	left: 0px;
	width: 802px;
	height: 802px;
	border: 1px solid #707070;
	background:rgba(77,143,219,255);
}


#rectangle_4 {
	opacity:0.28000000119209;
	top: 0px;
	left: 93px;
	width: 614px;
	height: 161px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-180deg , rgba(0,0,0,143) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(-180deg , rgba(0,0,0,143) 0%, rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(-180deg , rgba(0,0,0,143) 0%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(-180deg , rgba(0,0,0,143) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(-180deg , rgba(0,0,0,143) 0%, rgba(0,0,0,0) 100%);
}


#_________________ {
	top: 26px;
	left: 103px;
	width: 149px;
	height: 51px;
	overflow: hidden;
	font-family: Segoe UI;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	color:#ffffff;
}


#rectangle_2 {
	top: 23px;
	left: 550px;
	width: 140px;
	height: 44px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#_____________ {
	top: 25px;
	left: 558px;
	width: 122px;
	height: 53px;
	overflow: hidden;
	font-family: Segoe UI;
	font-size: 20px;
	text-align: left;
	line-height: 20px;
	color:#070707;
}


#polygon_1 {
	top: 36px;
	left: 480px;
	width: 10px;
	height: 10px;
}


#______ {
	top: 25px;
	left: 496px;
	width: 56px;
	height: 53px;
	overflow: hidden;
	font-family: Segoe UI;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	color:#ffffff;
}


#______________ek1 {
	top: 25px;
	left: 347px;
	width: 129px;
	height: 53px;
	overflow: hidden;
	font-family: Segoe UI;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	color:#ffffff;
}


#_____ {
	top: 25px;
	left: 296px;
	width: 57px;
	height: 53px;
	overflow: hidden;
	font-family: Segoe UI;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	color:#ffffff;
}


#______________________________ {
	top: 222px;
	left: 360px;
	width: 260px;
	height: 57px;
	overflow: hidden;
	font-family: Segoe UI;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	color:#ffffff;
}


#rectangle_3 {
	opacity:0.87999999523163;
	top: 265px;
	left: 474px;
	width: 125px;
	height: 50px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#_________ {
	top: 267px;
	left: 504px;
	width: 63px;
	height: 61.5px;
	overflow: hidden;
	font-family: Segoe UI;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	line-height: 25px;
	color:#070707;
}



/* Add your custom CSS here */
